.col-sm {
    color: aquamarine;
    
    height: 100px;
}

.custom-col-sm {
    flex: 0 0 auto;
    width: 10%;
    background-color: rgb(203, 137, 214);
    border: 1px solid rgb(226, 200, 200);
}
h6{
    color: black;
    font-family: cursive;
    margin: 5%;
    font-weight: bold;
}
.container {
    background-color: #f2f2f2;
    margin: auto; 
    width: 80%;
 
}



.row{
    margin: auto;
}

.custom-col-sm input {
    width: 100%;
    padding: 0;
    height: 100px;
    margin: 0;
    border: none;
    background: none;
    text-align: center;
    font-size: inherit;
    outline: none;
    appearance: none;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#mybtn {
    background-color: rgb(199, 84, 214);
    padding: 10px;
    border: 2px solid rgb(49, 2, 59);
    margin: 20px;
    color: aliceblue;
    width: 40%; /* Adjust the width as needed */
    height: 20%px; /* Adjust the height as needed */
    font-weight: bold;
}

#mybtn:hover {
    background-color: rgb(216, 191, 218);
    color: black;
}


#ins {
    padding: 12px;
    font-weight: bold;
}

/* Media queries for responsive layout */
@media (max-width: 768px) {
    .col-sm {
        width: 20%; /* Increase width of each column */
    }

    #mybtn {
        width: 30%; /* Increase button width */
        height: 50px; /* Increase button height */
        font-weight: bold; /* Adjust font size for better visibility */
    }
}

#myImage {
    max-width: 100%; /* Make sure the image does not exceed its container width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image is centered horizontally */
    margin: auto; /* Center the image horizontally */
}

/* CSS for smaller screens */
@media (max-width: 768px) {
    #myImage {
      display: none;
      padding: 0;
    }
    h6{
        display: none;
    }
       /* CSS for hiding the 4th row, 4th column on mobile screens */
       @media (max-width: 768px) {
        .col-sm:nth-child(4) {
            display: none;
        }
    }
}